body {
  font-family: Heebo,"Times New Roman",serif;
  font-size: 16px;
  line-height: 32px;
  color: #232527;
  background-color: #fff;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  //align-items: center;
  flex-wrap: wrap;
}