@media (max-width: 1100px) {
  .main {
    margin: 0;
  }
   .widget {
    width: 48%;
    margin: 40px 0;
  }
  .article__wrapper {
    margin: 40px 0;
    grid-template-columns: repeat(auto-fill, 48%);
    grid-gap: 20px;
  }
  .single-post__content {
    width: 100%;
    margin: 0;
    border-radius: 0;
    padding: 0;
    min-width: auto;
  }
  .single-post__image {
  padding: 1px;
  }

}


@media (max-width: 745px) {
  .main {
    margin: 0;
  }
  .widget {
    width: 100%;
    margin: 30px 0;
  }
  .article__wrapper {
    margin: 40px 0;
    grid-template-columns: repeat(auto-fill, 100%);
  }

  .login-modal {
    width: 90%;
  }
  .nav__item {
    font-size: 1rem;
  }
}