@import "generic/reset";
@import "settings/all";

@import "layout/general";
@import "layout/header";
@import "layout/main";
@import "layout/footer";
@import "layout/contact";
@import "layout/single-post";

@import "layout/admin";

.article-form {
  input, textarea{
    display: block;
    margin: 20px 0;
    padding: 10px 20px;
    width: 500px;
    border: 1px solid black;
    font-size: 18px;
    border-radius: 3px;

    &::placeholder {
      color: #797979;
    }
  }
}



@import "generic/modalLogin";
@import "generic/media";